// Do not remove this
$roboto-font-path: "~materialize-css/dist/fonts/roboto/";
@import "../node_modules/materialize-css/sass/materialize";


.full-height {
    height: 100%;
}

body, html, #app, main, .with-loader{
    @extend .full-height;
}

#app {
    min-width: 620px;
}

.card {
    cursor: pointer;

}

textarea {
    height: 500px;
}

.loading-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0);
    .loader {
        display: block;
        position: absolute;
        z-index: 100;
        left: 50%;
        top: 50%;
        margin-left: -25px;
        margin-top: -25px;
    }

}



